@import 'variables';

body {
  background: $app-background !important;
}

* {
  font-family: $font-family;
  box-sizing: border-box;
}

input:focus {
  border-color: solid #faac6b;
}

input:not(:focus),
textarea:not(:focus) {
  border: 1px solid #c4c4c4;
  &:hover {
    border: 1px solid #c4c4c4 !important;
  }
}

.borderless-input {
  border: none !important;
}

button {
  background: none;
  &::-moz-focus-inner {
    border: none;
  }
  cursor: pointer;
}
